
.playButton {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 2em;
    border-color: transparent transparent transparent #2AC7DC;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 1em 0 1em 1.5em;
}

.playButton:hover {
    border-color: transparent transparent transparent rgb(14, 66, 73);
}

.pauseButton {
    border-style: double;
    border-width: 0px 0 0px 1.5em;
}

.playContainer {
    display: inline-block;
    margin-top: 3em;
    height: 3em;
}