
.playButton {
    display: inline-block;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 2.3em;
    border-color: transparent transparent transparent #2AC7DC;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 1.156em 0 1.156em 1.875em;
    top: 0px;
    margin-bottom: 1em;
}

.playButton:hover {
    border-color: transparent transparent transparent rgb(14, 66, 73);
}

.pauseButton {
    border-style: double;
    border-width: 0 0 0 1.875em;
    border-color: transparent transparent transparent #2AC7DC;
}